body{
        background-color: #1A2849;
}
h2,h3,h4,p{
    font-size: 14px;
}

/* side bar */
.sideContainer {
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    display: block;
    border-right: 1px solid white;
}
.sideContent{
    height: 100px;
    margin-top: 20px;
}
.sideContent p{
    font-size: 12px;
    transform: rotate(-90deg);
    color: #C6BDBD;
}

/* profile header */

.profileContainer {
    overflow: hidden;
    background-color: #1A2849;
    position: fixed;
    top: 0;
    height: 56px;
    width: 90%;
   
}
.profileText {
    margin: 2px auto;
    color: #FFFFFF;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: #26FFDE;
}


.profileDesc{
    margin: 2px auto;
    font-size: 8px;
    color: #3B9D95

}

.profileName {
    display: inline-block;
    width: 85%;
    text-align: center;
}

.profileName p{
    margin-left: 20%;
}

.profileContainer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #12EFE6;
}



/* main page container */

.mainContainer{
    margin-left: 10%;
    /* font-size: 28px; */
    /* padding: 0px 10px; */
}

.homeContainer{
    margin-top: 56px;
}
.infoContainer{
  padding: 20px;

}
.expContent{
    border: 1px solid #21F6FF;
    background: #090429;
    color: #00E2FF;
    padding: 7px;
    box-shadow: 0px 0px 9px 3px #3ca7a3;
}
.expContent h2 {
    text-align: center;
}

.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    width: 90%;
    padding: 10px;
    color: white;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

@keyframes moveNumberOut {
    0% {margin-top: 0em;}
    30% {margin-top: -1.2em;}
    100% {margin-top: -1.2em;}
  }


ul{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    color: white;
    padding: 10px;
}
  
  li {
    list-style-type: none;
    text-align: center;
  }
  
  li span {
    display: block;
    font-size: 4.5rem;
  }

  .secondChange{
    animation: moveNumberOut 1.5s;
  }

  .compContainer h3 {
      color: #3B9D95;
  }

  .compContainer p {
    text-align: center;
    color : white;
  }



  /* Education */

  .educationContent{
    text-align: center;
    font-size: 16px;
    color: #00E2FF;
    padding-top: 11%;
  }
  
  .educationContent div{
    padding: 8px;
  }
  .tapButton {
    width: 139px;
    height: 64px;
    background-color: #0AD0EA;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border: 10px solid #2d2d2d;
    border-bottom: 0;
    position: absolute;
    bottom: 0;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 10%;
    right: 0;
  }
  .tapButton div{
    text-align: center;
    margin-top: 21px;
    font-size: 22px;
  }

  .carousalImg {
    padding-top: 34px;
  }

 